{% extends 'base.html' %}

{% load static %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="{% url 'list' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-4">bezibezitter</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
    <li class="nav-item"><a href="{% url 'followlist' %}" class="nav-link">フォローしたユーザーの投稿</a></li>
    <li class="nav-item"><a href="{% url 'likelist' %}" class="nav-link">いいねリスト</a></li>
    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">ログアウト</a></li>
    <li class="nav-item"><a href="{% url 'account' request.user %}"><img src="{{ request.user.profile_image.url }}"
          alt="" height="50" width="50"></a></li>

  </ul>
</header>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
  <img src="{{User.profile_image.url}}" width="50" height="50" alt="">
  {{User.user_id}}
  {{User.firstName}}
  {{User.lastName}}
  {{User.emailName}}
  {{User.introduction}}

  <!-- 自分のアカウントだけ編集ボタンを出す -->
  {% if User.user_id == request.user.user_id %}
  <a href="{% url 'accountupdate' %}">編集</a>
  {% endif %}

  
</div>
{% else %}
please login
{% endif %}
{% endblock content %}