{% extends 'base.html' %}

{% load static %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<div class="alert alert-light" role="alert">
    <h3>SNS</h3>

    <a href="{% url 'logout' %}" class="btn btn-link">ログアウト</a>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="alert alert-secondary" role="alert">
        <p>内容：{{ object.content }}</p>
        <p>投稿者：{{ object.user_id }}</p>  
        <!-- 画像がないとエラーが出るので条件分岐で回避 -->
        {% if object.article_image %}   
            <img src="{{ object.article_image.url }}" width="100" height="100">  
        {% else %}  
            
        {% endif %}
        {% if object.user_id == login_user %}
        <p><a href="{% url 'delete' object.pk %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">削除</a></p>
        {% endif %}
        {% if login_user in object.like.all %}
        <p>
            <a href="{% url 'like_detail' object.pk %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg>
            </a>
            {{ object.like.count }}
        </p>
        {% else %}
        <p>
            <a href="{% url 'like_detail' object.pk %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-heart" viewBox="0 0 16 16">
                    <path
                        d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg>
            </a>
            {{ object.like.count }}
        </p>
        {% endif %}
    </div>
</div>
{% endblock content %}