{% extends 'base.html' %}

{% load static %}

{% block customcss %}
<link href="{% static 'signup.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block content %}

<body class="text-center">
    {{ error }}
    <main class="form-signin">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

            <!-- user_id -->
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="user_id" name="user_id" required
                    autofocus>
                <label for="floatingInput">ユーザーID</label>
            </div>
            <!-- password -->
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingInput" placeholder="password" name="password"
                    required>
                <label for="floatingInput">パスワード</label>
            </div>
            <!-- firstName -->
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="名" name="firstName">
                <label for="floatingInput">名</label>
            </div>
            <!-- lastName -->
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" placeholder="姓" name="lastName">
                <label for="floatingInput">姓</label>
            </div>
            <!-- profile_image -->
            <!-- <div class="form-floating">
                <input type="file" class="form-control form-control-sm" id="floatingInput" name="profile_image">
                <label for="floatingInput">プロフィール画像</label>
            </div> -->
            <!-- email -->
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="test@example.com" name="email">
                <label for="floatingInput">メールアドレス</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
        </form>
    </main>
</body>
{% endblock content %}